// =============================================
// ORP UI — Breakpoints
// =============================================

@orp-breakpoint-sm: 576px;
@orp-breakpoint-md: 768px;
@orp-breakpoint-lg: 992px;
@orp-breakpoint-xl: 1200px;
